
<html>
    <head>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pulltorefreshjs/0.1.14/pulltorefresh.min.js"></script>
            
            <script type="text/javascript" src="../js/controllers/dashboardControllerd.js"></script>
            <script type="text/javascript" src="../js/app.js"></script>
<head>
<!-- <% include head.html %> -->
<body ng-app="animalwells" ng-cloak  ng-controller="animalTransportDashboard"  ng-init="init()">
        <div class="abc" >
        {{dt}}
        </div>

        


       
            
        </div>
        
    </body>
</html>
